# Ignore all node_modules
node_modules/*
pet_shopper.env.json

# ...except the symlink to ourselves.
!node_modules/APP

# Compiled JS
public/bundle.js
public/bundle.js.map

# NPM errors
npm-debug.log

pet_shopper.env.json
app/components/Cart.jsx